{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if include.type != "grid" and post.thumbnail %}
<div style="display:flex;align-items:center;margin-bottom:32px">
  <div style="width:170px;height: 96px;background:#1a1d24;margin-right: 10px;flex-shrink: 0;display: flex;align-items: center;">
    {% if post.link %}
      <img style="width:100%;cursor:pointer" src="{{ post.thumbnail }}" alt="" onclick="location.href='{{ post.link }}'">
    {% else %}
      <img style="width:100%;cursor:pointer" src="{{ post.thumbnail }}" alt="" onclick="location.href='{{ post.url | relative_url }}'">
    {% endif %}
  </div>
{% endif %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser" style="margin-bottom:10px">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline" style="margin-top:0">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink" style="text-decoration:none;"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink" style="text-decoration:none;">{{ title }}</a>
      {% endif %}
    </h2>
        
    {% include post__meta.html type=include.type %}
        
    {% if page.subtitle %}
        <p class="archive__item-excerpt" itemprop="description" style="margin:0">{{ page.subtitle }}</p>
    {% else %}
        {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    {% endif %}
  </article>
</div>
{% if include.type != "grid" and post.thumbnail %}
</div>
{% endif %}
